<app-nav></app-nav>

<section class="descrizione">

  <h2>Barberia Moderna – Stile, Precisione e Relax</h2>
  <p>
    Da noi il taglio non è solo un servizio, ma un’esperienza. Offriamo tagli
    moderni, rasature classiche e trattamenti barba personalizzati, il tutto in
    un ambiente accogliente e rilassato. Prenota facilmente il tuo appuntamento
    online e lascia che ci prendiamo cura del tuo look con professionalità e
    attenzione ai dettagli.
  </p>
</section>

<section class="prenotazione">
<div class="servizi">
  <div
    class="servizio"
    (click)="selectService('Taglio')"
    [class.selected]="selectedService === 'Taglio'"
    tabindex="0"
  >
    <img src="/capelli.jpg" alt="Test" width="200" />
  </div>
  <div
    class="servizio"
    (click)="selectService('Barba')"
    [class.selected]="selectedService === 'Barba'"
    tabindex="0"
  >
    <img src="/barba.jpg" alt="" />
  </div>
  <div
    class="servizio"
    (click)="selectService('Completo')"
    [class.selected]="selectedService === 'Completo'"
    tabindex="0"
  >
    <img src="/completo.jpg" alt="" />
  </div>
</div>


<!-- Carousel giorni -->
<div class="carousel-wrapper">
  <div
    class="card"
    *ngFor="let day of getNext7Days()"
    tabindex="0"
    (click)="selectDate(day)"
    [class.selected]="isSelected(day)"
  >
    <p>{{ day | date : "EEEE" }}</p>
    <p>{{ day | date : "dd/MM" }}</p>
  </div>
</div>

<!-- Fasce orarie visibili solo se c'è una data selezionata -->
<div *ngIf="selectedDate" class="time-grid-scroll">
  <div
    class="time-slot"
    *ngFor="let t of getAvailableTimeSlots()"
    (click)="selectTime(t)"
    tabindex="0"
  >
    {{ t }}
  </div>
</div>


</section>

<section class="riepilogo">
  <i
    class="icon fa-solid fa-list-check"
    (click)="addElement()"
    role="button"
    tabindex="0"
    aria-label="Aggiungi prenotazione"
    (keyup.enter)="addElement()"
  ></i>
</section>

<ul class="riepilogo-list" *ngIf="showAppointmentsList && appointments.length > 0">
  <li *ngFor="let a of appointments">
    <p>Hai aggiunto la prenotazione per il : {{ a.date | date : 'dd/MM/yyyy' }}</p>
    <p>alle ore: {{ a.time }}</p>
    <p>Servizio richiesto: {{ a.service }}</p>
  </li>
  <button
  class="confirm"
  *ngIf="showAppointmentsList && appointments.length > 0"
  (click)="confirmReservations()"
>
  Conferma Prenotazione
</button>
<button
  class="delete" (click)="showAppointmentsList = false">Annulla</button>
</ul>



<!-- Template inline del dialog -->
<ng-template #confirmDialog let-dialogRef="dialogRef">
  <h2 mat-dialog-title class="pop-up-title">Conferma Prenotazione</h2>
  <mat-dialog-content class="pop-up-content" align="center">
    <p>Vuoi confermare la prenotazione?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button  (click)="dialogRef.close(false)">Annulla</button>
    <button mat-button  color="primary" (click)="dialogRef.close(true)">Conferma</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #successDialog>
  <h2 mat-dialog-title align="center">Prenotazione confermata</h2>
  <mat-dialog-content align="center">
    <p>La tua prenotazione è stata salvata con successo.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>OK</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #notLoggedDialog>
  <h2 mat-dialog-title>Non sei loggato</h2>
  <mat-dialog-content>
    <p>Effettua il login per poter prenotare.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>OK</button>
  </mat-dialog-actions>
</ng-template>

