<app-nav></app-nav>
<div class="user-reservations" *ngIf="allReservations.length > 0">
  <h2>Le tue prenotazioni</h2>
  <ul *ngFor="let reservation of allReservations">
    <li>Servizio : {{ reservation.service }}</li>
    <li>Ora : {{ reservation.time }}</li>
    <li>Data: {{ reservation.date | date : "dd/MM/yyyy" }}</li>
    <div class="icons-container">
      <button class="btn-delete"
        (click)="deleteReservation(reservation.id)"
      >Cancella prenotazione</button>
    </div>
  </ul>
</div>

<div class="user-reservations" *ngIf="allReservations.length === 0">
  <h3>Al momento non hai prenotazioni attive</h3>
</div>

<section class="riepilogo">
  <i
    class="fa-solid fa-right-from-bracket"
    (click)="logout()"
    role="button"
    tabindex="0"
    aria-label="logOut"
    (keyup.enter)="logout()"
  ></i>
</section>
