<app-nav></app-nav>
<div class="user-reservations" *ngIf="allReservations.length > 0">
  <h2>Le tue prenotazioni</h2>
  <ul *ngFor="let reservation of allReservations">
    <li>Servizio : {{ reservation.service }}</li>
    <li>Ora : {{ reservation.time }}</li>
    <li>Data: {{ reservation.date | date : "dd/MM/yyyy" }}</li>
    <div class="icons-container">
      <button class="btn-delete"
        (click)="deleteReservation(reservation.id,reservation.date)"
      >Cancella prenotazione</button>
    </div>
  </ul>
</div>

<div class="user-reservations" *ngIf="allReservations.length === 0">
  <h3>Al momento non hai prenotazioni attive</h3>
</div>

<section class="riepilogo">
  <i
    class="fa-solid fa-right-from-bracket"
    (click)="logout()"
    role="button"
    tabindex="0"
    aria-label="logOut"
    (keyup.enter)="logout()"
  ></i>
</section>
<ng-template #deleteReservationMessage>
  <h2 mat-dialog-title align="center">Cancellazione non consentita</h2>
  <mat-dialog-content align="center">
    <p>La cancellazione della prenotazione non è possibile a meno di 72 ore dalla data prevista.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>OK</button>
  </mat-dialog-actions>
</ng-template>
