<app-nav></app-nav>

<div class="auth-container">
  <form #loginForm="ngForm" (ngSubmit)="logIn(loginForm)">
    <input
      type="text"
      name="email"
      placeholder="Email"
      ngModel
      required
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      ngModel
      required
    />
    <button class="submit" type="submit">Accedi</button>

    <span><a href="">Iscriviti!</a></span>
  </form>
</div>



<section class="riepilogo">
  <i class="icon fa-solid fa-list-check"></i>
</section>
